/* You can add global styles to this file, and also import other style files */

:root {
  --main-x-padding: 5rem;
}

@font-face {
  font-family: "ApercuLight";
  src:
    url("/assets/fonts/ApercuLight.ttf") format("truetype"),
    url("/assets/fonts/ApercuLight.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "ApercuBold";
  src:
    url("/assets/fonts/ApercuBold.ttf") format("truetype"),
    url("/assets/fonts/ApercuBold.otf") format("opentype");
}

html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: "ApercuLight", Arial, sans-serif;
  background: linear-gradient(#232847 0%, #2b5a6c 100%);
  color: #fff;
  overflow-x: hidden;
}

h1 {
  font-family: "ApercuBold", Arial, sans-serif;
  color: #fff;
}
